.settingsContainer {
  justify-content: center;
  align-items: center;
  padding-left: 0 !important;
}

.settingsContainer button {
  color: var(--secondary-white);
  padding: 0;
  margin: 0 8px;
  font-size: 1rem;
  border: none;
  background: transparent;
}

.settingsContainer button:hover {
  color: var(--pure-white);
}

.settingsContainer button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.settingsContainer button:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.settingsContainer button:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.settingsContainer button.active {
  position: relative;
}
.volumeSlider {
  position: relative;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--primary-green);
  cursor: pointer;
  box-shadow: var(--volume-glow);
}
.volumeSlider::-webkit-slider-runnable-track {
  background: var(--primary-green);
  border-radius: 2px;
  box-shadow: var(--volume-glow);
}

.volumeSlider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--primary-green);
  cursor: pointer;
  box-shadow: var(--volume-glow);
}
.volumeSlider::-moz-range-track {
  background: var(--primary-green);
  border-radius: 2px;
  box-shadow: var(--volume-glow);
}

.timerButtonContainer {
  position: relative;
}

.timerMenuWrapper {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 50%;
  transform: translateX(50%);
  z-index: 1001;
}
